$white-color: #ffffff;
$black-color: #000000;
$black-color2: #2B2E34;;
$primary-color: #0B62BA;
$primary-color2: #0B63BB;
$primary-color3: #054E9E;
$secondary-color: #CB9E0B;
$secondary-color2: #D69A30;
$secondary-color3: #D29E0E;
$secondary-color4 : #E2A931;
$secondary-color5: #EEB300;
$light-color: #FAF3E7;
$transparent-color: #51524A;
$light-color2: #51524A;
$grey-color: #707070;